@use '../../utils/variables.scss' as *;

.cypherLink {
    color: #fff;
    text-decoration: none;
    font-family: $googleCode;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    font-weight: 300;

    .terminalSymbol {
        color: #888;
    }
}

.labelBtn {
    background: #4445;
    backdrop-filter: blur(5px);
    font-size: 1.3rem;
    display: flex;
    flex-wrap: no-wrap;
    padding-right: 1rem;
    width: fit-content;
    border-radius: 2rem;
    align-items: center;

    .externalLabel {
        font-size: 1.1rem;
        line-height: 1;
        font-weight: 100;
        margin-inline: 1.5rem;
    }
}

.flareBtn {
    $padding-block: 1.2rem;
    $padding-inline: 2rem;
    $font-size: 1rem;
    $height: calc(2 * $padding-block + $font-size);
    --lightIntensity: 0.75;
    --lightColor: #00f;

    padding: $padding-block $padding-inline;
    font-size: $font-size;
    line-height: $font-size;
    border-radius: calc($height / 2);
    box-shadow: inset 0 0 0 0.2rem $cobaltBlue;
    transition: box-shadow 0.3s ease-out;
    position: relative;
    overflow: visible;
    width: fit-content;
    background: #000d;
    text-wrap: nowrap;

    &.prior {
        --lightIntensity: 1;
        box-shadow: inset 0 0 0 calc($height / 2 * 1.1) $cobaltBlue !important;
        $font-size: 1.2rem;
    }

    --lightOpacity: 1;

    .link {
        color: white;
        text-decoration: none;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            box-shadow: none !important;
            --lightOpacity: var(--lightIntensity);
            --lightColor: #fff;
        }
    }

    @media (hover: none) and (pointer: coarse) {
        box-shadow: none !important;
        --lightOpacity: var(--lightIntensity);
        --lightColor: #fff;
    }

    .flare {
        width: 4rem;
        opacity: calc(var(--lightOpacity) * var(--lightIntensity));
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--lightColor);
        filter: blur(1.5rem);
        position: absolute;
        offset-path: border-box;
        offset-anchor: center 30%;
        transition: 
            opacity 0.5s ease-out,
            background-color 0.5s ease-in-out,
            width 0.5s ease-out;
        pointer-events: none;
        animation: followBorder 10s linear infinite;
        z-index: -1;
    }

    .glow {
        $thickness: 2px;
        position: absolute;
        border-radius: calc($height / 2 + $thickness);
        z-index: -1;
        inset: calc($thickness * -1);
        animation: lightTravel 10s linear infinite;
        background: linear-gradient(var(--lightAngle), var(--lightColor), #fff0);
        filter: blur(2px);
        opacity: calc(var(--lightOpacity) * var(--lightIntensity));
    }
}

@keyframes followBorder {
    from {
        offset-distance: 0;
    } to {
        offset-distance: 100%;
    }
}

@property --lightAngle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 45deg;
}

@keyframes lightTravel {
    from {
        --lightAngle: 90deg;
    } to {
        --lightAngle: calc(90deg + 360deg);
    }
}

/* M A S K   B U T T O N */
.MaskBtn {
    $padding-inline: 1.3rem;
    $padding-block: 1rem;
    $font-size: 1.1rem;
    $height: calc(2 * $padding-block + $font-size);

    margin: 0;
    border: none;
    background: none;
    color: white;

    padding: $padding-block $padding-inline !important;
    font-size: $font-size;
    line-height: 1;
    border-radius: calc(#{$height} / 2);
    background: $blue;
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.5s ease-in-out;

    --dot-scale: 1;
    --offset: 0rem;
    --arrow-opacity: 0;
    --arrow-rotation: 0deg;
    --arrow-scale: 0;

    &:hover {
        --dot-scale: 50;
        --offset: -1rem;
        --arrow-opacity: 1;
        --arrow-rotation: 360deg;
        --arrow-scale: 1;
        color: black;
    }

    .dot {
        width: 0.5rem;
        height: 0.5rem;
        background: white;
        border-radius: 50%;
        position: absolute;
        left: $padding-inline;
        top: calc(50% - 0.25rem);
        transform: scale(var(--dot-scale));
        transition: transform 0.5s ease-out;
    }

    .text {
        text-wrap: nowrap;
        text-decoration: none;
        transform: translateX(var(--offset));
        transition: transform 0.5s ease-in-out;
        margin-left: 1rem;
    }

    .arrow {
        height: calc(#{$font-size} * 1.5);
        width: auto;
        position: absolute;
        top: calc(50% - #{$font-size} * 0.75);
        right: calc($padding-inline * 0.5);
        translate: calc(1rem + var(--offset)) 0;
        opacity: var(--arrow-opacity);
        scale: var(--arrow-scale);
        transition: 
            translate 0.5s ease-in-out,
            opacity   0.5s ease-in-out,
            rotate    0.6s ease-out,
            scale     0.6s ease-out;

        &.internal {
            rotate: var(--arrow-rotation);
        }

        &.external {
            rotate: calc(var(--arrow-rotation) - 45deg);
        }
    }
}