@use './../../utils/variables.scss' as *;

.Slide {
    width: 100%;
    min-height: 100lvh;
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5vh clamp(1rem, 5vw, 10vw) 15vh clamp(1rem, 5vw, 10vw);
}

.GridSlide {
    $columnsNumber: 12;
    $columnGap: 1rem;
    display: grid;
    grid-template-columns: repeat($columnsNumber, 1fr);
    column-gap: $columnGap;

    width: 100%;
    min-height: 100lvh;
    box-sizing: border-box;
    position: relative;
}