@use '../../utils/variables.scss' as *;

.section {
    position: relative;
    height: 100vh;
    background: #222;
    overflow: hidden;

    .wrapper {
        display: flex;
        height: 100%;
        width: fit-content;
        gap: clamp(0rem, 26.1818rem - 16.3636vw, 22.5rem);
    }
}

.panel {
    width: 110vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}