@use '../../../utils/variables.scss' as *;

.PrivacyPolicy {
    padding: 20vh 20vw;
    background: $midnightAbyss;
    font-weight: 400;
    @include flexColumn(10vh);

    strong {
        font-weight: 600;
    }

    .num {
        font-weight: 100;
    }

    h1 {
        font-size: 7vw;
        font-weight: 300;
        position: relative;

        &::after {
            content: '';
            width: 30%;
            height: 4px;
            background: white;
            position: absolute;
            bottom: -10%;
            left: 0%;

            @supports (corner-shape: bevel) {
                corner-shape: bevel;
                border-radius: 0 0 4px 0;
            }
        }
    }

    h2 {
        font-weight: 300;
    }

    h3 {
        font-weight: 400;
    }

    ol {
        list-style: none;
        @include flexColumn(10vh);
        padding: 0;
    }

    ul {
        @include flexColumn(0.5rem);
    }

    a {
        color: white;
        font-family: $googleCode;
        --underline-1-width: 100%;
        --underline-2-width: 0%;
        position: relative;
        text-decoration: none;
        transition: text-shadow 0.3s ease-in-out;

        &:hover {
            --underline-1-width: 0%;
            --underline-2-width: 100%;
            text-shadow: 0 0 5px white;
        }

        &::before, &::after {
            content: '';
            position: absolute;
        }

        &::before {
            bottom: calc(-3% - 1px);
            left: 0;
            width: var(--underline-1-width);
            height: 1px;
            background: white;
            opacity: 0.75;
            transition: width 0.3s ease-in;
        }

        &::after {
            bottom: calc(-3% + 1px);
            right: 0;
            width: var(--underline-2-width);
            height: 2px;
            background: white;
            transition: width 0.3s ease-out;
        }
    }
}