@use '../../../utils/variables.scss' as *;

.Hero {
    @include flexAlign(center, center, center);

    h1 {
        font-weight: 400;
        width: 70%;
        margin-inline: auto;
        font-size: clamp(1.5rem, 0.6rem + 4vw, 7rem);
    }

    .lead {
        font-size: clamp(1rem, 0.8364rem + 0.7273vw, 2rem);
        width: 80%;
        margin-inline: auto;
    }

    @media (max-width: 580px) {
        h1, .lead {
            width: 90%;
        }
    }
}

.DirectContact {
    background: $obsidianGrey;
    position: relative;
    padding: 10vw;

    .bgImg {
        height: 95%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -50%);
    }

    

    h2 {
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }

    .email {
        font-family: $nohemi;
        font-weight: 200;
        font-size: 5vw;
        position: absolute;
        @include center;
        transform: translate(-50%, -150%)
    }


}